/*ФОН*/
.back {
    position: absolute;
    width: 1903px;
    height: 1080px;
    left: 0px;
    line-height: 0px; /* Межстрочное расстояние */
}
.back2 {
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 1903px;
    height: 1080px;
    left: 0px;
}
.back1 {
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 1903px;
    height: 1080px;
    left: 0px;
}
.backrect {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1.5px);
    position: absolute;
    width: 1903px;
    height: 3250px;
    left: 0px;
    top: 0px;
    margin: 0 auto; /* Выравнивание блока по центру */
    line-height: 0px; /* Межстрочное расстояние */
}
/*Аватар и название*/
.rectforavatar {
    position: absolute;
    width: 806px;
    height: 204px;
    margin-left: 25px;
    margin-top: 20px;
    background: rgba(217, 217, 217, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 50px;
}
.avatar {
    position: absolute;
    width: 677px;
    height: 224px;
    margin-left: 25px;
    margin-top: 20px;
}

.rectforname {
    position: absolute;
    width: 892px;
    height: 102px;
    margin-left: 973px;
    margin-top: 20px;
    background: rgba(217, 217, 217, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 50px;
}
.Nameonrect {
    position: absolute;
    width: 887px;
    height: 102px;
    margin-left: 973px;
    margin-top: 20px;
    font-family: 'jsMath-cmr10';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
    color: #000000;
}
/*Ссылки*/
.rect1 {
    margin-top: 173px;
    margin-left: 973px;
    position: absolute;
    width: 239px;
    height: 51px;    
    background: rgba(217, 217, 217, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 50px;
}
.rect2 {
    position: absolute;
    width: 239px;
    height: 51px;
    margin-top: 173px;
    margin-left: 1297px;
    background: rgba(217, 217, 217, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 50px;
}
.rect3 {
    position: absolute;
    width: 239px;
    height: 51px;
    margin-top: 173px;
    margin-left: 1621px;
    background: rgba(217, 217, 217, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 50px;
}
.namerect1 {
    position: absolute;
    width: 239px;
    height: 51px;
    margin-top: 173px;
    margin-left: 973px;  
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;   
    color: #000000;
}
.namerect2 {
    position: absolute;
    width: 237px;
    height: 51px;
    margin-top: 173px;
    margin-left: 1297px;
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #000000;
}
.namerect3 {
    position: absolute;
    width: 237px;
    height: 51px;
    margin-top: 173px;
    margin-left: 1625px;
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #000000;
}
/*Футер*/
.rectforfooter {
    position: absolute;
    width: 1903px;
    height: 292px;
    left: 0px;
    top: 2956px;
    background: rgba(217, 217, 217, 0.8);
    backdrop-filter: blur(2px);
}
.avatar2 {
    position: absolute;
    width: 521px;
    height: 185px;
    top: 32px;
    left: 0px;
}
.copyright {
    position: absolute;
    width: 717px;
    height: 50px;
    top: 200px;
    left: 0px;
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #000000;
}
.vklogo {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1506px;
    top: 182px;
}
.ytlogo {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1648px;
    top: 182px;
}
.dslogo {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1790px;
    top: 182px;
}
.letter {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1490px;
    top: 24px;
}
.textreport {
    position: absolute;
    width: 361px;
    height: 36px;
    margin-left: 1519px;
    margin-top: 21px;    
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    color: #000000;
}
ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    position: absolute;
    left: 872px;
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
/*Main*/
.img_1 {
    position: absolute;
    width: 997px;
    height: 618px;
    left: 863px;
    top: 329px;
    background: url(image.png);
    border-radius: 50px;
}
.recttext1 {
    position: absolute;
    width: 771px;
    height: 490px;
    top: 452px;
    left: 20px;
    background: rgba(217, 217, 217, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 50px;
}
.rectforname1 {
    position: absolute;
    width: 347px;
    height: 80px;
    top: 329px;
    left: 20px;
    background: rgba(217, 217, 217, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 50px;
}
.name1 {
    position: absolute;
    width: 345.05px;
    height: 80px;
    top: 275px;
    left: 20px;
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 80px;
    text-align: center;
    color: #000000;
}
.text1 {
    position: absolute;
    width: 771px;
    height: 490px;
    top: 405px;
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
    color: #000000;
}
/*Projects*/
.rectforname2 {
    position: absolute;
    width: 347px;
    height: 80px;
    top: 1260px;
    left: 766px;
    background: rgba(217, 217, 217, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 50px;
}
.name2 {
    position: absolute;
    width: 345.05px;
    height: 80px;
    top: 1205px;
    left: 766px;
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 80px;
    text-align: center;
    color: #000000;
}
.pr1 {
    position: absolute;
    width: 500px;
    height: 421px;
    top: 1407px;
    left: 32px;
    background: rgba(217, 217, 217, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 50px;
}
.pr2 {
    position: absolute;
    width: 500px;
    height: 421px;
    top: 1407px;
    left: 690px;
    background: rgba(217, 217, 217, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 50px;
}
.pr3 {
    position: absolute;
    width: 500px;
    height: 421px;
    top: 1407px;
    left: 1348px;
    background: rgba(217, 217, 217, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 50px;
}
.pr1_img {
    position: absolute;
    width: 400px;
    height: 381.15px;
    left: 82px;
    top: 1427px;
}
.pr2_img {
    position: absolute;
    width: 500px;
    height: 419.32px;
    left: 690px;
    top: 1407px;
}
.pr3_img {
    position: absolute;
    width: 500px;
    height: 421px;
    left: 1348px;
    top: 1407px;
}
/*About*/
.img_3 {
    position: absolute;
    width: 880px;
    height: 618px;
    left: 32px;
    top: 2089px;
    border-radius: 50px;
}
.recttext3 {
    position: absolute;
    width: 771px;
    height: 490px; 
    background: rgba(217, 217, 217, 0.8);
    backdrop-filter: blur(7.5px);
    top: 2222px;
    left: 1089px;
    border-radius: 50px;
}
.rectforname3 {
    position: absolute;
    width: 347px;
    height: 80px;
    top: 2099px;
    left: 1513px;
    background: rgba(217, 217, 217, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 50px;
}
.name3 {
    position: absolute;
    width: 345.05px;
    height: 80px;
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 80px;
    top: 2045px;
    left: 1513px;
    text-align: center;
    color: #000000;
}
.text3 {
    position: absolute;
    width: 771px;
    height: 490px;
    top: 2180px;
    left: 1089px;
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
    color: #000000;
}